<div class="card border-dark mb-3 dashboard-card bg-light" style="max-width: 30rem;">
  <h3 class="card-header text-center">Dashboard</h3>
  <div class="text-dark">
    <table class="table table-succes table-hover">
        <tbody>
            <tr class="text-center">
                <td><%= link_to 'List of Employees', admins_employees_path, class:"nav-link text-dark" %></td>
            </tr>
            <tr class="text-center">
                <td><%= link_to 'List of Kudos', admins_kudos_path, class:"nav-link text-dark" %></td>
            </tr>
            <tr class="text-center">
                <td><%= link_to 'List of Company Values', admins_company_values_path, class:"nav-link text-dark" %></td>
            </tr>
            <tr class="text-center">
                <td><%= link_to 'List of Rewards', admins_rewards_path, class:"nav-link text-dark" %></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

