<h1>My Orders</h1>

<table class="table table-light table-striped table-hover">
  <thead>
    <tr class="table-dark">
      <th>Title</th>
      <th>Description</th>
      <th>Purchase Time</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="align-middle">
        <td><%= order.reward_snapshot.title %></td>
        <td><%= order.reward_snapshot.description %></td>
        <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= order.snapshot_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
