<p>
  <strong>Title:</strong>
  <%= @company_value.title %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @company_value.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @company_value.updated_at %>
</p>

<%= link_to 'Back', admin_company_values_path %>
